.problempage-main{
    /* border: 10px solid green; */
    height: 100vh;
    display: grid;
    padding-left: 13px;
    padding-right: 13px;
    }
.problempage-left{
    border: 1px solid rgb(223, 226, 230);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin: 5px;
    width: calc(50% - 10px);
    height: calc(100vh - 10px);
}
.problempage-right{
    border: 1px solid rgb(223, 226, 230);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 5px;
    width: calc(50% - 10px);
    height: calc(100vh - 10px);
    padding: 0;
}
#problem-run-btn {
  margin-left: 20px;
  background-color: rgb(25, 40, 115);
  color: white;
  border: 1 px solid black !important;
  border-radius: 5px;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  /* position: absolute; */
  right: 125px;
}
.copy-btn {
  margin-left: 20px;
  background-color: rgb(118, 175, 255);
  color: white;
  border: 1 px solid black !important;
  /* border-radius: 5px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px; */
  /* font-size: 17px; */
}
.copy-btn:hover{
  background-color: rgb(96, 143, 209);
}
#problem-submit-btn {
  margin-left: 20px;
  background-color: rgb(13, 154, 0);
  color: white;
  border: 1 px solid black !important;
  border-radius: 5px;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  /* position: absolute; */
  right: 20px;
}